<div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
          <label for="name">Nombre: &nbsp;</label>
          <input type="text" name="name" [(ngModel)]="employee.name">
      </div>
      <div class="col-md-3 col-sm-6">
          <label for="lastName">Apellido: &nbsp;</label>
          <input type="text" name="lastName" [(ngModel)]="employee.lastName">
      </div>
      <div class="col-md-3 col-sm-6">
          <label for="phone">Telefono: &nbsp;</label>
          <input type="tel" name="phone" [(ngModel)]="employee.phone">
      </div>
      <div class="col-md-3 col-sm-6">
        <button *ngIf="!employeeId" (click)="addEmployee()" class="btn btn-primary btn-sm"> <i class="fa fa-plus-circle"></i>&nbsp; Add</button>
        <button *ngIf="employeeId" (click)="updateEmployee()" class="btn btn-primary btn-sm"> <i class="fa fa-save"></i>&nbsp; Save</button>
      </div>
    </div>
  </div>
  <br>
