<div class="container" style="margin: 25px;">
  <table class="table table-sm table-bordered table-hover">
    <thead class="thead-dark">
      <th></th>
      <th>Email</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edit</th>
    </thead>
    <tbody>
      <tr *ngFor="let u of users; let i = index">
        <td><img src="{{u.avatar}}" alt="" class="rounded-circle" height="60px"></td>
        <td> {{u.email}}</td>
        <td>{{u.first_name}}</td>
        <td>{{u.last_name}}</td>
        <td><button class="btn btn-info btn-sm" [routerLink]="['/users/user-detail', u.id]"><i class="fa fa-edit"></i>&nbsp;<small>Edit</small></button></td>
      </tr>
    </tbody>
  </table>
  <!-- <dx-data-grid
      [dataSource]="products">
      <dxi-column dataField="code"></dxi-column>
      <dxi-column dataField="description"></dxi-column>
      <dxi-column dataField="price"></dxi-column>
      <dxi-column dataField="active"></dxi-column>
    </dx-data-grid> -->
</div>