<button class="btn btn-primary btn-sm ml-5" [routerLink]="'/employees/employee-detail'">Nuevo Empleado</button>

<div class="container" style="margin: 25px;">
  <table class="table table-sm table-bordered table-hover">
    <thead class="thead-dark">
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Teléfono</th>
    <th>Delete</th>
    <th>Go</th>
  </thead>
  <tbody>
      <tr *ngFor="let e of employees; let i = index">
        <td>{{e.name}}</td>
        <td> {{e.lastName}}</td>
        <td>{{e.phone}}</td>
        <td><button class="btn btn-danger btn-sm" (click)="confirm(i)">Del</button></td>
        <td><button class="btn btn-info btn-sm" [routerLink]="['/employees/employee-detail', i]">Go</button></td>
      </tr>
    </tbody>
  </table>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

