<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #293296;">
    <a class="navbar-brand" href="#">MyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="" class="nav-link" [routerLink]="['/home']">Home </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/employees/employee-list']">Employees </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/users/user-list']">Users </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/products/product-list']">Products </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/settings']">Settings </a>
        </li>
        <li class="nav-item" *ngIf="!user">
            <a href="" class="nav-link" [routerLink]="['/login']">Login </a>
        </li>
        <li class="nav-item" *ngIf="user">
            <a href="#" class="nav-link" [routerLink]="['/login']" (click)="logout()">logout </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/login']">{{user}} </a>
        </li>
      </ul>
    </div>
  </nav>