<form #formLogin="ngForm" (ngSubmit)="formLogin.form.valid && login()">
<div class="container mt-2 jumbotron">
    <div class="row">
            <!-- Row 1 -->
            
            <div class="col-md-6">
                <label for="username">Usuario</label>
            </div>
            <div class="col-md-6">
                <input #user="ngModel" required email [(ngModel)]="username" class="form-control" type="text" name="username"  [ngClass]="{'is-invalid': formLogin.submitted && user.invalid}">
                <div class="text-danger" *ngIf="formLogin.submitted && user.invalid">
                    <div ngIf="user.errors.required">Required </div>
                    <div ngIf="user.errors.email">must be a valid email </div>
                </div>
            </div>
            <br><br>
            <!-- Row 2 -->
            <div class="col-md-6">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <input #pass="ngModel" required  [(ngModel)]="password" name="password" class="form-control" type="password" [ngClass]="{'is-invalid': formLogin.submitted && pass.invalid}">
                <div class="text-danger" *ngIf="formLogin.submitted && pass.invalid">
                    <div ngIf="pass.errors.required">Required </div>
                </div>
            </div>
            <br><br>
            <!-- Row 3 -->
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: center;">
                <button *canActivate="['admin2', 'client','rol1']" type="submit" class="btn btn-primary ">Login</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</form>