<button class="btn btn-primary btn-sm ml-5" [routerLink]="'/products/product-detail'">Nuevo Producto</button>

<div class="container" style="margin: 25px;">
  <table class="table table-sm table-bordered table-hover">
    <thead class="thead-dark">
    <th>Codigo</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Activo</th>
    <th>Delete</th>
    <th>Edit</th>
  </thead>
  <tbody>
      <tr *ngFor="let p of products; let i = index">
        <td>{{p.code}}</td>
        <td> {{p.description}}</td>
        <td>{{p.price}}</td>
        <td><p-checkbox [(ngModel)]="p.active" binary="true" disabled="true"></p-checkbox></td>
        <td><button class="btn btn-danger btn-sm" (click)="confirm(i)">Del</button></td>
        <td><button class="btn btn-info btn-sm" [routerLink]="['/products/product-detail', i]">Go</button></td>
      </tr>
    </tbody>
  </table>
  <!-- <dx-data-grid
    [dataSource]="products">
    <dxi-column dataField="code"></dxi-column>
    <dxi-column dataField="description"></dxi-column>
    <dxi-column dataField="price"></dxi-column>
    <dxi-column dataField="active"></dxi-column>
  </dx-data-grid> -->
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

