<div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
          <label for="name">Codigo: &nbsp;</label>
          <input type="text" name="name" [(ngModel)]="product.code">
      </div>
      <div class="col-md-6 col-sm-6">
          <label for="lastName">Descripcion: &nbsp;</label>
          <input type="text" name="lastName" [(ngModel)]="product.description">
      </div>
      <div class="col-md-6 col-sm-6">
          <label for="phone">Precio: &nbsp;</label>
          <input type="number" name="phone" [(ngModel)]="product.price">
      </div>
      <div class="col-md-6 col-sm-6">
        <p-checkbox label="Activo" [(ngModel)]="product.active" binary="true"></p-checkbox>
      </div>
      <div class="col-md-6 col-sm-6">
        <button *ngIf="!productId" (click)="addProduct()" class="btn btn-primary btn-sm"> <i class="fa fa-plus-circle"></i>&nbsp; Add</button>
        <button *ngIf="productId" (click)="updateProduct()" class="btn btn-primary btn-sm"> <i class="fa fa-save"></i>&nbsp; Save</button>
      </div>
    </div>
  </div>
  <br>